:root {
  --primary-color: #ffcc00;
  --background-color: #222;
  --black-color: #111;
  --gradient-color: linear-gradient(45deg, rgb(143, 55, 0), rgb(250, 210, 66)) 1;
  --cell-empty-gradient-color: linear-gradient(45deg, #a22525, transparent);
  --container-width: 978px;
}

::selection {
  color: var(--background-color);
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  color: #dadada;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  scrollbar-color: var(--background-color) var(--primary-color) !important;
}
